* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: box-border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
body {
  background-color: #fafafa;
  font: 12pt;
  font-family: Tahoma, Geneva, sans-serif;
}

.wraper {
  width: 29.7cm;
  min-height: 21cm;
  padding: 2cm;
  margin: 1cm auto;
  border: 1px #d3d3d3 solid;
  border-radius: 5px;
  background: white;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

@media print {
  .wraper {
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    -webkit-box-shadow: initial;
            box-shadow: initial;
    background: initial;
    page-break-after: always;
  }
}

.text {
  font-size: 20px;
}

.labirint {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.labirint__body {
  margin-top: 60px;
  width: 600px;
  height: 600px;
  background: url("../img/labirint.png") center/cover no-repeat;
  position: relative;
}

.body-lab__xomyak {
  position: absolute;
  top: 8%;
  left: 32.5%;
  width: 35px;
  height: 35px;
}

.body-lab__xomyak img {
  width: 100%;
}

.body-lab__otvet {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 50px;
}

.body-lab__cruzok {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid green;
  -webkit-box-shadow: 2px 2px 15px rgba(0, 128, 32, 0.685);
          box-shadow: 2px 2px 15px rgba(0, 128, 32, 0.685);
}

.body-lab__text {
  margin-top: 10px;
  font-size: 20px;
}
