.foorter {
    margin: 0;
    padding: 15px 0;
    background-color: #313030;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    &__text {
        margin-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        p {
            margin: 0;
            color: #b8b8b8;
            font-family: "Open Sans";
            font-size: 16px;
            line-height: 26px;
        }
    }
    &__icons {
        ul {
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            @media (max-width: 561px) {
                margin-top: 10px;
            }
            li {
                display: block;
                //  width: 33px;
                //  height: 33px;
                background-color: #ffffff;
                border-radius: 50%;
                margin-right: 18px;
                span {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 33px;
                    height: 33px;
                }
            }
        }
    }
}

.fa {}

.fa-twitter {}

.fa-linkedin {}

.fa-google-plus {}

.fa-instagram {}