@import "null";
.wraper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.this_span {
    padding: 20px 30px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    font-family: monospace;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    display: flex;
    background: #000;
    position: relative;
    overflow: hidden;
    margin: 10px;
    transition: 2s linear all;
    &:hover .ac1 {
        transform: translateX(200px);
    }
    &:hover .ac2 {
        transform: translateY(200px);
    }
    &:hover .ac3 {
        transform: translateX(-200px);
    }
    &:hover .ac4 {
        transform: translateY(-200px);
    }
    &:hover {
        transform: scale(1.05);
        background: rgba(240, 208, 208, 0.76) transparent;
    }
    span {
        display: flex;
        position: absolute;
        background: rgba(255, 255, 255, 0.836);
        box-shadow: 2px 2px 20px #00ffe0;
    }
}

.ac1 {
    transition: 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
    transform: translateX(-200px);
    width: 100%;
    height: 3px;
    top: 0;
    background: #fff;
}

.ac2 {
    transition: 2.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
    transform: translateY(-200px);
    width: 3px;
    height: 100%;
    right: 0;
}

.ac3 {
    transition: 2.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
    transform: translateX(200px);
    width: 100%;
    height: 3px;
    bottom: 0;
}

.ac4 {
    transition: 2.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
    transform: translateY(200px);
    width: 3px;
    height: 100%;
    left: 0;
}

.active {
    background: red;
    transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
}

.btr {
    text-transform: uppercase;
    background: #00ffe0;
    border-radius: 5px;
    letter-spacing: 0.3;
    padding: 15px;
}